[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
"ops.ecris.analysis" = {git = "https://github.com/lbnl-88ops/ecris.analysis.git"}
flask = "*"
wtforms = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
